@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
    <li>
        <form asp-controller="Project" asp-action="Index" method="get">
            <input type="text" name="SearchString">
            <input type="submit" value="Search" />
        </form>
    </li>
        } 
</ul>
