@model ProjectApp.Models.ProjectViewModel

@{ ViewData["Title"] = "Create"; }

<h1>Project Form</h1>

@if (TempData["Message"] != null)
{
    <div style="background-color: white; color: black; border-style: double" class = "col-md-3">
        <div style="color:red" class="text-center">
            @TempData["Message"]
        </div>
    </div>
}

<hr />
<div class="text-center">
    <img src="~/images/projectpix.jpg" style="float:right" class="w-50 h-50" alt="My image" />
    <div style="text-align:left">
        @*<div class="col-md-3" style="float:left">*@
        <form asp-action="AddorEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <partial name="_Calendar" />
                <input type="submit" value="Update" class="btn btn-primary panel panel-success" />

            </div>
        </form>
        @*<a asp-action="Index">
                <h3><i class="arrow alternate circle left icon">Back to List</i></h3>
            </a>*@

    </div>
    <div style="text-align:left">
        <a asp-action="Index" syle="color: green">
            <h3>Back to List</h3>
        </a>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
