@model Dictionary<System.String, System.Int32>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Application Manager</h1>
</div>
<div class="text-center" style="float:left;width:30%">
    <div style="text-align:left">
        <div class="nav-item">
            <partial name="_LoginPartial" />
        </div>
    </div>
</div>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @*<div id="piechart" class="text-center" style="float:right;width:60%">*@
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                var data = google.visualization.arrayToDataTable([
                    ['Project Languages', 'Frequency'],
                    ['Ruby', 3],
                    ['C#', 2],
                    ['React', 2]
                ]);

                var options = {
                    backgroundColor: 'transparent',
                    title: 'Languages',
                    titleTextStyle: {
                        style: "float:right;width:60%"
                    }
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                chart.draw(data, options);
            }</script>
    </head>
    <body>
        <div id="piechart" class="text-center" style="float:right;width:50%">
        </div>
    </body>
}
else
{
    @*<div id="piechart">*@
    <img src="~/images/laptopcrane.jpg" style="max-width: 50%; height:auto;" alt="My image" />
    @*</div>*@
}
