@{
    ViewData["Title"] = "Home Page";
}
    
    <div class="text-left">
        <h1 class="display-4">Application Manager</h1>
    </div>
    <div class="text-center" style="float:left;width:30%">
        <ul style="text-align:left">
            <li class="nav-item">
                <partial name="_LoginPartial" />
            </li>
        </ul>
    </div>      
    <div id="piechart" class="nav-item" style="float:right;width:50%">
        <partial name="_PieChartData.cshtml" />
    </div>

