@model Dictionary<System.String, System.Int32>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">
        <i class="fa fa-code-fork" aria-hidden="true">Application Manager</i>
    </h1>
</div>
<div class="text-center" style="float:left;width:30%">
    <div style="text-align:left">
        <div class="nav-item">
            <partial name="_LoginPartial" />
        </div>
    </div>
</div>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <head>
        <partial name="_PieChartData" />
    </head>
    <body>
        <div class="text-center" style="float:right;width:50%">
            <div id="piechart"></div>
            <div id="piechart2"></div>
        </div>
        <div class="text-center" style="float:left;width:50%">
            <div style="margin-left: 250px;  margin-top: -50px" id="piechart3"></div>
        </div>
    </body>
}
else
{
    <img src="~/images/laptopcrane.jpg" style="max-width: 50%; height:auto;" alt="My image" />
    
}
