@{
    ViewData["Title"] = "Home Page";
}
    
    <div class="text-left">
        <h1 class="display-4">Application Manager</h1>
    </div>
    <div class="text-center">
        <ul style="text-align:left">
            <li class="nav-item">
                <partial name="_LoginPartial"/>
            </li>
        </ul>
        <img src="~/images/laptopcrane.jpg" style="max-width: 50%; height:auto;" alt="My image" />
    </div>      


