@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the Home page.</h1>
        <a class="navbar-brand text-dark" asp-area="" asp-controller="Project" asp-action="Index">View Projects</a><br />
        <a class="navbar-brand text-dark" asp-area="" asp-controller="Project" asp-action="AddorEdit">Add a new project.</a>
    </div>
    
    